<form [formGroup] ="formGroup"(ngSubmit)="Onsubmit(formGroup)">
  <div>
    <input
    type="text" formControlName="firstName"
    placeholder= "first name">
  </div>
  <div>
    <input
      type="text" formControlName="lastName"
      placeholder= "last name">
  </div>
  <div>
  <input
      type="text" formControlName="Email"
      placeholder= "email">
  </div>
  <div>
      <input
          type="number" formControlName="Age"
          placeholder= "Age" min=0 max=99>
      </div>
  <button>Submit</button>

</form>